h1 {
  font-family: "Hachi Maru Pop", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 5cm;
}
body{
  font-family: "Hachi Maru Pop", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 1cm;
  <span style="background-color:yellow>
}